// Colors
$color-white: #ffffff;
$color-grey-lgt: #f3f4f6;
$color-primary: #764ba2;

$color-heading: #1a1a1a;

$bg-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

// Typography
$heading-sm: 1.375rem;
$body-md: 1.125rem;

// Spacings & radius
$spacing-xxs: 0.5rem;
$spacing-xs: 1rem;
$spacing-sm: 1.25rem;
$spacing-md: 2rem;
$spacing-lg: 2.25;

$radius-lg: 2rem;
$radius-md: 1.75rem;

// Misc
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
$box-shadow-hvr: 0 16px 32px rgba(0, 0, 0, 0.12);
